@model IEnumerable<BiblioContext.Model.Book>

@{
    DataProvider.IGanreProvider ganreProvider = new DataProvider.GanreProviderApi();
    IEnumerable<BiblioContext.Model.Ganre> ganres = await ganreProvider.GetGanresAsync();
}

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Add new book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Author First Name
            </th>
            <th>
                Author Last Name
            </th>
            <th>
                Ganre
            </th>
            <th>
                Release Date
            </th>
            <th>
                Is Available
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AuthorFirstName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AuthorLastName)
            </td>
            <td>
                    @ganres.Single(g => g.Id == item.Ganre).Nameing
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate.Date)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
